<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="hibernate.default_schema">mdm</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">com.ooluk.mdm.data.hibernate.CustomPostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">create</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
                
        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.search.default.indexBase">D:/TEMP/fts</property>
 
		<mapping class="com.ooluk.mdm.data.meta.PropertyGroup"/>  
		<mapping class="com.ooluk.mdm.data.meta.DynamicProperty"/> 
		<mapping class="com.ooluk.mdm.data.meta.ListValue"/>  
		
		<mapping class="com.ooluk.mdm.data.meta.app.User"/>           
		<mapping class="com.ooluk.mdm.data.meta.app.Role"/>         
		<mapping class="com.ooluk.mdm.data.meta.app.LabelType"/>      
		<mapping class="com.ooluk.mdm.data.meta.app.Label"/>        
		<mapping class="com.ooluk.mdm.data.meta.app.Tag"/>
		       
		<mapping class="com.ooluk.mdm.data.meta.dataobject.Namespace"/>     
		<mapping class="com.ooluk.mdm.data.meta.dataobject.DataObject"/>     
		<mapping class="com.ooluk.mdm.data.meta.dataobject.DataObjectSourceMappingKey"/>
		<mapping class="com.ooluk.mdm.data.meta.dataobject.DataObjectSourceMapping"/>   
		<mapping class="com.ooluk.mdm.data.meta.dataobject.DataObjectNote"/>
		
		<mapping class="com.ooluk.mdm.data.meta.attribute.Attribute"/>        
		<mapping class="com.ooluk.mdm.data.meta.attribute.AttributeSourceMappingKey"/>
		<mapping class="com.ooluk.mdm.data.meta.attribute.AttributeSourceMapping"/>  
		<mapping class="com.ooluk.mdm.data.meta.attribute.AttributeNote"/>  
		               
		<mapping class="com.ooluk.mdm.data.meta.index.Index"/> 
		<mapping class="com.ooluk.mdm.data.meta.index.IndexAttributeMappingKey"/> 
		<mapping class="com.ooluk.mdm.data.meta.index.IndexAttributeMapping"/>

    </session-factory>

</hibernate-configuration>